body {
    background-color: #2D292B;
  }

  h1 {
    color: #FFF2E9;
    text-align: center;
    font-family: "hwt-artz";
    font-size: 75px;

  }

  h2 {
    color: #FFF2E9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-bottom: 40px;

  }

  p {
    color: #FFF2E9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 20px;

  }

  .nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav a {
    color: #FFF2E9;
    text-decoration: none;
    padding: 8px;

  }

  .nav a:hover {
    color: #D1C7C1;
  }

  .outer-grid {
    border: 3px solid #FFF2E9;
    display: flex;
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    width: 90%;
    /* Center container */
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 1000px) {
    .outer-grid {
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;  }
  }

  .inner-grid {
    flex: 25%;
    max-width: 25%;
 }

 .inner-grid img {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
 }

 @media only screen and (max-width: 1000px) {
  .inner-grid img {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;  }
}

 * {
    box-sizing: border-box;

 }

 .grid-image {
    border-bottom: 3px solid #FFF2E9;
}

  .grid-image:hover {
      background:#423D40;
  }

  .single-spice {
    padding-top: 15px;
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 200px;
}
