body {
  font-family: Helvetica;
  margin: 30px;
}

#enter{
  padding: px;
  border-radius: 5px;
  color: dimgrey;
  font-weight: bold;
  line-height: 24px;
}

#enter{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


input[type=text] {
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: "comic sans ms";
  background-color: rgb(176, 164, 141);
  border: 0;
}

h1 {
  text-align: center;
  font-style: italic;
}

input[type=button] {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size:28px;
  outline: 3px solid black;
  border: 0;
  font-weight: bold;
}

#showStory {
  visibility: hidden;
  background-color: rgb(176, 164, 141) ;
  padding: 5px;
  font-size: 28px;
  padding-left: 20px;
  line-height: 36px;
  color: white;
}